/* root sizing for em sizing */

:root {
  font-size: 10px;
}

/* padding tweaks */




/* padding - all sides */

.p-xxs {
  padding: 2.5px;
}
.p-xs {
  padding: 5px;
}
.p-sm {
  padding: 10px;
}
.p-m {
  padding: 15px;
}
.p-md {
  padding: 20px;
}
.p-lg {
  padding: 30px;
}
.p-xl {
  padding: 50px;
}




/* padding vertical */

.p-v-xxs {
  padding: 0 2.5px;
}
.p-v-xs {
  padding: 0 5px;
}
.p-v-sm {
  padding: 0 10px;
}
.p-v-m {
  padding: 0 15px;
}
.p-v-md {
  padding: 0 20px;
}
.p-v-lg {
  padding: 0 30px;
}
.p-v-xl {
  padding: 0 50px;
}





/* padding horizontal */

.p-h-xxs {
  padding: 2.5px 0;
}
.p-h-xs {
  padding: 5px 0;
}
.p-h-sm {
  padding: 10px 0;
}
.p-h-m {
  padding: 15px 0;
}
.p-h-md {
  padding: 20px 0;
}
.p-h-lg {
  padding: 30px 0;
}
.p-h-xl {
  padding: 50px 0;
}





/* padding none */

.p-n {
  padding: 0 !important;
}





/* margin tweaks */

.m-xxs {
  margin: 2.5px;
}
.m-xs {
  margin: 5px;
}
.m-sm {
  margin: 10px;
}
.m-m {
  margin: 15px;
}
.m-md {
  margin: 20px;
}
.m-lg {
  margin: 30px;
}
.m-xl {
  margin: 50px;
}





/* margin none */

.m-n {
  margin: 0 !important;
}





/* margin-left */

.m-l-n {
  margin-left: 0;
}
.m-l-xxs {
  margin-left: 2.5px;
}
.m-l-xs {
  margin-left: 5px;
}
.m-l-sm {
  margin-left: 10px;
}
.m-l-m {
  margin-left: 15px;
}
.m-l-md {
  margin-left: 20px;
}
.m-l-lg {
  margin-left: 30px;
}
.m-l-xl {
  margin-left: 50px;
}





/* margin-top */

.m-t-n {
  margin-top: 0;
}
.m-t-xxs {
  margin-top: 2.5px;
}
.m-t-xs {
  margin-top: 5px;
}
.m-t-sm {
  margin-top: 10px;
}
.m-t-m {
  margin-top: 15px;
}
.m-t-md {
  margin-top: 20px;
}
.m-t-lg {
  margin-top: 30px;
}
.m-t-xl {
  margin-top: 50px;
}





/* margin-right */
.m-r-n {
  margin-right: 0;
}
.m-r-xxs {
  margin-right: 2.5px;
}
.m-r-xs {
  margin-right: 5px;
}
.m-r-sm {
  margin-right: 10px;
}
.m-r-m {
  margin-right: 15px;
}
.m-r-md {
  margin-right: 20px;
}
.m-r-lg {
  margin-right: 30px;
}
.m-r-xl {
  margin-right: 50px;
}





/* margin-bottom */

.m-b-n {
  margin-bottom: 0;
}
.m-b-xxs {
  margin-bottom: 2.5px;
}
.m-b-xs {
  margin-bottom: 5px;
}
.m-b-sm {
  margin-bottom: 10px;
}
.m-b-m {
  margin-bottom: 15px;
}
.m-b-md {
  margin-bottom: 20px;
}
.m-b-lg {
  margin-bottom: 30px;
}
.m-b-xl {
  margin-bottom: 50px;
}





/* margin vertical */

.m-v-xxs {
  margin: 2.5px 0;
}
.m-v-xs {
  margin: 5px 0;
}
.m-v-sm {
  margin: 10px 0;
}
.m-v-m {
  margin: 15px 0;
}
.m-v-md {
  margin: 20px 0;
}
.m-v-lg {
  margin: 30px 0;
}
.m-v-xl {
  margin: 50px 0;
}






/* margin horizontal */

.m-h-xxs {
  margin: 0 2.5px;
}
.m-h-xs {
  margin: 0 5px;
}
.m-h-sm {
  margin: 0 10px;
}
.m-h-m {
  margin: 0 15px;
}
.m-h-md {
  margin: 0 20px;
}
.m-h-lg {
  margin: 0 30px;
}
.m-h-xl {
  margin: 0 50px;
}








/* variable text-align */

/* Extra small devices (phones, less than 768px) */
.ta-l-xs {
  text-align: left;
}
.ta-r-xs {
  text-align: left;
}
.ta-c-xs {
  text-align: left;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .ta-l-sm {
    text-align: left;
  }
  .ta-r-sm {
    text-align: right;
  }
  .ta-c-sm {
    text-align: center;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .ta-l-md {
    text-align: left;
  }
  .ta-r-md {
    text-align: right;
  }
  .ta-c-md {
    text-align: center;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .ta-l-lg {
    text-align: left;
  }
  .ta-r-lg {
    text-align: right;
  }
  .ta-c-lg {
    text-align:center;
  }
}


/* support for inline-block menus */

.horizontal-list {
  display: inline-block;
  &.va-t {
    vertical-align: top;
  }
  &.ta-b {
    vertical-align: bottom;
  }
  a {
    display: block;
  }
}